<div class="row justify-content-center">
  <div class="col-4">
    <h1>Hello, world!</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" placeholder="Username" class="form-control" type="text" [(ngModel)]="username" required/>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" placeholder="Password" class="form-control" type="password" [(ngModel)]="password" required/>
    </div>
    <hr />
    <div class="form-group">
      <input class="btn btn-primary" type="button" (click)="login()" [disabled]="isBusy || isDisabled()" value="Log in, mkay?" />
    </div>
    <span *ngIf="error" class="text-danger">{{ error }}</span>
  </div>
</div>


